section
    section
        h2 PWA combined with AMP
        span.fragment
            p Can be combined with AMP technology for better experience.
        img.fragment(src='./img/amp-pwa.jpg', style="width: 80%")
    section
        img(src='./img/meme1.jpg')
    section
        img(src='./img/googleamp.png')
    section
        img(src='./img/amp-demo.gif')