section(style='text-align: left;')
    h1 THE END
    p
        | - 
        a(href='https://steamcommunity.com/id/lolpez666', target="_blank") By Lolpez
        br
        span(style="font-size: 20px") PowerPoint is for noobs lol