section
    section
        h2 Fast navigation
        span.fragment
            p Thanks to the Service Workers, the app will work fast.
        img.fragment(src='./img/service-worker-diagram.png', style="width: 90%")