section
    section
        h2 Added to Home screen
        span.fragment
            p PWA will be opened with full screen.
        img.fragment(src='./img/pwa-polymer-starter.jpg', style="width: 90%")