section
    section(data-background='./img/wow.gif')
        h1 Wait did you just say OFFLINE?!
    section
        h2 OFFLINE MODE
        span.fragment
            p Web apps that can work without an Internet Connection.
            p Thanks to service workers.
        span.fragment
            p Adding this to your main HTML for installing.
            pre
                code.hljs(data-trim)
                    |if ('serviceWorker' in navigator) {
                    |   navigator.serviceWorker.register('/service-worker.js')
                    |       .then(function(registration) {
                    |           console.log('Registration successful, scope is:', registration.scope);
                    |       })
                    |   .catch(function(error) {
                    |       console.log('Service worker registration failed, error:', error);
                    |   });
                    |}
    section
        h2 service-worker.js
        pre
            code.hljs(data-trim)
                |if ('serviceWorker' in navigator) {
                |   navigator.serviceWorker.register('/service-worker.js')
                |       .then(function(registration) {
                |           console.log('Registration successful, scope is:', registration.scope);
                |       })
                |   .catch(function(error) {
                |       console.log('Service worker registration failed, error:', error);
                |   });
                |}


        
