section
    section
        h2 User prompt
        span.fragment
            p PWA will show a message to ask the user to add the app to the Home Screen.
        img.fragment(src='./img/add-to-homescreen.jpg', style="width: 60%")