section
    section
        h2 Push Notifications
        span.fragment
            p Full supported push native notifications.
        img.fragment(src='./img/push-notification.jpeg', style="width: 80%")