section
    h2 What is it?
    ul
        li.fragment.fade-left
            i.material-icons signal_wifi_off
            |  Web applications ready to work OFFLINE 
        li.fragment.fade-left
            i.material-icons mood
            |  Allows Fast browsing
        li.fragment.fade-left
            i.material-icons message
            |  User Promt to install in the device
        li.fragment.fade-left
            i.material-icons android
            |  Looks like android applications        
        li.fragment.fade-left
            i.material-icons notifications
            |  Push Notifications        
        li.fragment.fade-left
            i.material-icons code
            |  Uses Javascript Service Workers        
        li.fragment.fade-left
            i.material-icons offline_bolt
            |  Can be combined with Accelerated Mobile Pages